<h2>ROSTER</h2>
<table class="table table-striped">
    <tr>
        <td>Name</td>
        <td>M/F</td>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
        <td>8</td>
        <td>9</td>
        <td>10</td>
        <td>Active</td>
        <td>Actions</td>
    </tr>
    <% @players.each do |p| %>
    <tr>
        <td><%= p.name %></td>
        <td><%= p.gender[0].upcase %></td>
        <td><%= p.p1 %></td>
        <td><%= p.p2 %></td>
        <td><%= p.p3 %></td>
        <td><%= p.p4 %></td>
        <td><%= p.p5 %></td>
        <td><%= p.p6 %></td>
        <td><%= p.p7 %></td>
        <td><%= p.p8 %></td>
        <td><%= p.p9 %></td>
        <td><%= p.p10 %></td>
        <td style="text-align: center;"><%= check_box_tag('p[active]', '1', p.active?, 
        :onchange => "$.ajax({type:'PUT', url:'#{player_path(p.id)}', data: {'p[active]': (this.checked ? '1' : '0') }, 
        context:document.body, dataType: 'json'}); void 0;", :id => "player_active_checkbox_#{p.id}") %></td>
        <td><%= link_to "Edit", edit_player_path(p) %> | <%= link_to "Remove", player_path(p), method: :delete %></td>
    </tr>
    <% end %>
</table>
<br></br>