<table class="table table-striped">
  <tr>
    <td>Pitcher</td>
    <td><%= @inning.p %></td>
  </tr>
  <tr>
    <td>Catcher</td>
    <td><%= @inning.c %></td>
  </tr>
  <tr>
    <td>First</td>
    <td><%= @inning.first %></td>
  </tr>
  <tr>
    <td>Third</td>
    <td><%= @inning.third %></td>
  </tr>
  <tr>
    <td>Left Rover</td>
    <td><%= @inning.lr %></td>
  </tr>
  <tr>
    <td>Right Rover</td>
    <td><%= @inning.rr %></td>
  </tr>
  <tr>
    <td>Left</td>
    <td><%= @inning.l %></td>
  </tr>
  <tr>
    <td>Left Center</td>
    <td><%= @inning.lc %></td>
  </tr>
  <tr>
    <td>Right Center</td>
    <td><%= @inning.rc %></td>
  </tr>
  <tr>
    <td>Right</td>
    <td><%= @inning.r %></td>
  </tr>
</table>