<!---->

<%= form_for @game, url:{:controller=>'games', :action=>'create'}, html:{method:'post'} do |f| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :opponent %>
    <%= f.text_field :opponent %>
  </div>
  
  <div class="field">
    <%= f.label :no_of_innings %>
    <%= f.select :no_of_innings, [5, 6, 7, 8, 9]%>
  </div>
  
  <div class="field">
    <%= f.label :date %>
    <%= f.date_field :date %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
